<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>sshcar</display-name>
  
   <!-- 配置spring在启动时所需的配置文件信息 -->
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:application*.xml</param-value>
  </context-param>
  <!-- 配置启动spring框架的监听器 -->
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
   <!-- 添加struts2的filter配置 -->
   <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  
  <!-- 权限过滤器 -->
  <filter>
  	<filter-name>safeFilter</filter-name>
  	<filter-class>com.avril.web.filter.SafeFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>safeFilter</filter-name>
  	<url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>safeFilter</filter-name>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  
  
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>